NEXT_PUBLIC_SITE_URL=snackiesapp.vercel.app
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51PVbKVRtJakEWWLGJKmUR6GM8e2Th2akgFcn7qNp2gmmJuocKhIHzRwNbZPUvzJ3zuk3TjWHpFq1dxtyJBypwRzj009nhL7Mk9
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_ocixx0TgILf5CYlnKbSJNLZUj4splCDG
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1503455953205465202/qHD3F8wVON4g5qFErqVrmQDHc4EXvGC78DAib52XU11hOGREAS67QaOLbjyHYkr-EQ1U
ADMIN_PASSWORD=ADMINQPROTALKS
