NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51PVbKVRtJakEWWLGJKmUR6GM8e2Th2akgFcn7qNp2gmmJuocKhIHzRwNbZPUvzJ3zuk3TjWHpFq1dxtyJBypwRzj009nhL7Mk9
STRIPE_SECRET_KEY=sk_live_REPLACE_ME
STRIPE_WEBHOOK_SECRET=whsec_REPLACE_ME
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/REPLACE_ME
ADMIN_PASSWORD=change-this-password
